/* src/pages/DesignerPage/DesignerPage.css */
.table-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    /* Other styles as needed */
  }
  
  /* src/pages/DesignerPage/DesignerPage.css */
  .designer-page {
    padding-top: 100px; /* Adjust for header */
    padding-right: 320px; /* Adjust so content doesn't go under the chatbot, which is 300px + some extra space */
    overflow: hidden; /* Optional, to prevent any accidental overflow */
}